services:
  - type: web
    name: student-amicale-app
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: MAIL_USERNAME
        value: commissionsociale.reed@gmail.com
      - key: MAIL_PASSWORD
        sync: false
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_PASSWORD
        generateValue: true
    disk:
      name: uploads
      mountPath: /app/static/uploads
      sizeGB: 1