services:
  - type: web
    name: student-amicale-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --bind 0.0.0.0:$PORT --timeout 120 --workers 2 app:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: MAIL_USERNAME
        value: commissionsociale.reed@gmail.com
      - key: MAIL_PASSWORD
        sync: false
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_PASSWORD
        generateValue: true
      # Utiliser le port fourni par Render
      - key: PORT
        value: 10000
      # Configuration pour Render
      - key: RENDER
        value: true
    disk:
      name: uploads
      mountPath: ./static/uploads
      sizeGB: 1