services:
  - type: web
    name: student-amicale-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.8
      - key: SECRET_KEY
        generateValue: true
      - key: MAIL_USERNAME
        value: commissionsociale.reed@gmail.com
      - key: MAIL_PASSWORD
        sync: false  # Vous devrez l'ajouter manuellement dans le dashboard
    disk:
      name: uploads
      mountPath: /opt/render/project/src/static/uploads
      sizeGB: 1